.ticker {
  --ticker-h: 350px;

  width: 100%;
  height: var(--ticker-h);
  overflow: hidden;
}

.ticker ul {
  --icon-w: 250px;

  width: 100%;
  min-width: calc(var(--icon-w, 150px) * var(--quantity, 10));
  position: relative;
}

.ticker ul li {
  width: var(--icon-w);
  position: absolute;
  left: 100%;
  animation: TickerRun var(--time, 10s) linear infinite;
  animation-delay: calc(
    var(--time, 10s) / var(--quanity, 10) * (var(--index) - 1) - var(
        --time,
        10s
      )
  );
}

@keyframes TickerRun {
  to {
    left: -250px;
  }
}
