.flex-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, $flex-gpoup-gap);
  row-gap: var(--flex-row-gap, calc($flex-gpoup-gap / 2));
  width: fit-content;
}

.flex-group.mx-auto {
  justify-content: center;
}
