@use 'util' as u;

:root {
  --c-brand: hsl(0, 0%, 87%);
  --c-bg: hsl(214, 52%, 30%);
  --f-xs: #{u.rem(12)};
  --f-sm: #{u.rem(16)};
  --f-md: #{u.rem(18)};
  --f-lg: #{u.rem(20)};
  --f-xl: #{u.rem(32)};
  --f-h-xl: #{u.rem(40)};
  --f-h-lg: #{u.rem(28)};
  --f-h-md: #{u.rem(20)};
  --f-body: #{u.rem(18)};
  --f-fluid-normal: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --ff: Arial, Helvetica, sans-serif;
}
